version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - dependencies
    commit-message:
      prefix: ":arrow_upper_right: [patch]"
      include: "scope"

  - package-ecosystem: "bun"
    directory: "/"
    groups:
      sentry:
        patterns:
          - "@sentry/*"
      tailwindcss:
        patterns:
          - "@tailwindcss/*"
          - "tailwindcss"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
      exclude:
        - "@proconnect-gouv/*"
    labels:
      - dependencies
    commit-message:
      prefix: ":arrow_upper_right: [patch]"
      include: "scope"

  - package-ecosystem: "bun"
    directory: "/e2e"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    labels:
      - dependencies
    commit-message:
      prefix: ":arrow_upper_right: [patch]"
      include: "scope"
