@import "tailwindcss";

/*
 * DSFR design token aliases.
 * These CSS variables are referenced in components via Tailwind's
 * arbitrary value syntax: bg-(--variable-name), text-(--variable-name).
 * Values extracted from @gouvfr/dsfr v1.14.3.
 */
:root {
  --blue-france-975-75: #f5f5fe;
  --blue-france-sun-113-625: #000091;
  --background-alt-blue-france: #f5f5fe;
  --background-alt-blue-ecume: #e8edff;
  --background-alt-grey: #f6f6f6;
  --background-alt-red-marianne: #ffe9e9;
  --background-contrast-grey: #eeeeee;
  --background-default-grey-hover: #eaeaea;
  --background-action-low-blue-france: #e3e3fd;
  --background-action-high-green-bourgeon: #68a532;
  --background-action-high-green-bourgeon-hover: #447a1c;
  --background-action-high-warning: #d64d00;
  --background-action-high-warning-hover: #b44000;
  --text-action-high-blue-france: #000091;
  --text-active-blue-france: #000091;
  --text-active-red-marianne: #e1000f;
  --error-425-625: #c9191e;
  --error-425-625-hover: #a01a1c;
  --red-marianne-425-625: #e1000f;
  --green-emeraude-sun-425-625: #00a95f;
  --brown-caramel-sun-425-625: #c08c65;
  --grey-0-1000: #000000;
  --grey-200-850: #3a3a3a;
  --ground: 0;
}

@theme {
  /* Blues - French government */
  --color-blue-france: #000091;
  --color-blue-france-hover: #1212ff;
  --color-blue-france-975: #f5f5fe;
  --color-blue-france-925: #e3e3fd;
  --color-blue-ecume: #e8edff;
  --color-blue-ecume-975: #f4f6fe;

  /* Greens */
  --color-green-bourgeon: #68a532;
  --color-green-bourgeon-hover: #447a1c;
  --color-green-emeraude: #00a95f;

  /* Reds */
  --color-red-marianne: #e1000f;
  --color-error: #c9191e;
  --color-error-hover: #a01a1c;

  /* Oranges/Warnings */
  --color-warning: #d64d00;
  --color-warning-hover: #b44000;
  --color-brown-caramel: #c08c65;

  /* Greys */
  --color-grey-1000: #000000;
  --color-grey-850: #3a3a3a;
  --color-grey-200: #e5e5e5;
  --color-grey-50: #f6f6f6;
  --color-grey-hover: #eaeaea;
  --color-grey-contrast: #eeeeee;
  --color-grey-contrast-hover: #d2d2d2;
}

/*
 * Icon utilities
 * Using CSS path() to keep HTML clean and leverage standard caching.
 */

@utility icon-arrow-go-back {
  d: path("M8 7v4L2 6l6-5v4h5a8 8 0 1 1 0 16H4v-2h9a6 6 0 1 0 0-12H8Z");
}

@utility icon-check {
  d: path(
    "m10 15.172 9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414 4.95 4.95Z"
  );
}

@utility icon-clipboard {
  d: path(
    "M17 2v2h3.007c.548 0 .993.445.993.993v16.014a.994.994 0 0 1-.993.993H3.993A.994.994 0 0 1 3 21.007V4.993C3 4.445 3.445 4 3.993 4H7V2h10ZM7 6H5v14h14V6h-2v2H7V6Zm8-2H9v2h6V4Z"
  );
}

@utility icon-delete {
  d: path(
    "M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5ZM6 6v14h12V6H6Zm3 3h2v8H9V9Zm4 0h2v8h-2V9Z"
  );
}

@utility icon-eye {
  d: path(
    "M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88 6.608 3 12 3Zm0 16c4.2 0 7.842-2.905 8.777-7a9.005 9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12 19Zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9Zm0-2a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
  );
}

@utility icon-eye-off {
  d: path(
    "M17.882 19.297A10.949 10.949 0 0 1 12 21c-5.392 0-9.878-3.88-10.819-9a10.982 10.982 0 0 1 3.34-6.066L1.392 2.808l1.415-1.415 19.799 19.8-1.415 1.414-3.31-3.31h.001ZM5.935 7.35A8.965 8.965 0 0 0 3.223 12a9.005 9.005 0 0 0 13.201 5.838l-2.028-2.028A4.5 4.5 0 0 1 8.19 9.604L5.935 7.35Zm6.979 6.978-3.242-3.242a2.5 2.5 0 0 0 3.241 3.241l.001.001Zm7.893 2.264-1.431-1.43A8.935 8.935 0 0 0 20.777 12 9.005 9.005 0 0 0 9.552 5.338L7.974 3.76C9.221 3.27 10.58 3 12 3c5.392 0 9.878 3.88 10.819 9a10.947 10.947 0 0 1-2.012 4.592Zm-9.084-9.084a4.5 4.5 0 0 1 4.769 4.769l-4.77-4.769h.001Z"
  );
}

@utility icon-logout {
  d: path(
    "M19 2a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14Zm-1 6 5 4-5 4v-3h-7v-2h7V8Z"
  );
}

@utility icon-subtract {
  d: path("M5 11h14v2H5v-2Z");
}
